<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

    <title>Admin panel</title>
</head>
<body>

<!--    Шапка  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <b><a class="nav-link active" th:text="${name}"></a></b>
                <li><a class="nav-link active">with roles:</a></li>
                <li><a class="nav-link active" th:text="${role}"></a></li>
            </div>
        </div>
        <span class="navbar-text">
      <a th:href="@{/logout}">Logout</a>
    </span>
    </div>
</nav>

                          <!--        Left panel      -->

<div class="container-fluid">
    <div class="row">
        <div class="col-2 mt-3 p-0">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a class="nav-item nav-link ml-2 active" data-toggle="pill" href="#admin" role="tab"
                   aria-controls="admin" aria-selected="true">Admin</a>
                <a class="nav-item nav-link ml-2" data-toggle="pill" href="#user" role="tab"
                   aria-controls="user" aria-selected="true">User</a>
            </div>
        </div>





                          <!-- background setting -->

        <div class="col-md-10 p-0">
            <div class="tab-content bg-light p-2">
                <div class="tab-pane fade show active pl-3" style="height: 900px;" id="admin"
                     role="tabpanel" aria-labelledby="/admin">
                    <h1>Admin panel</h1>
                    <br/><br/>


                      <ul class="nav nav-tabs">
                          <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                          </li>
                          <li class="nav-item">
                     <!--        <a class="nav-link" href="/admin/addUser">New User</a>-->
                          <a class="nav-link" data-toggle="tab" href="#addUser">New user</a>

                          </li>
                      </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="usersTable">
                            <div class="card">
                                <div class="card-header">
                                    <h4>All users</h4>
                                </div>
                                <div class="card-body">


                               <!-- Users table -->

    <table class="table table-striped border-top">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Username</th>
<!--            <th scope="col">Password</th>-->
            <th scope="col">Role</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allusers}">

            <td th:utext="${user.id}"></td>
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.surname}"></td>
            <td th:utext="${user.age}"></td>
            <td th:utext="${user.username}"></td>
<!--            <td th:utext="${user.password}"></td>-->
<!--            <td th:utext="${user.roles}"></td>-->
            <td>

                <span th:each="roles : ${user.getRoles()}"
                      th:utext="${roles.toString()}+'  '">Roles</span>
            </td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#editModal"
                        th:data-target="${'#edituser'+user.getId()}">
                    Edit
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#deleteModal"
                        th:data-target="${'#deleteModal'+ user.getId()}">
                    Delete
                </button>
            </td>


                       <!-- UPDATE USER -->



        <div class="modal fade" th:id="${'edituser'+ user.getId()}" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form th:action="@{/admin/update}" th:object="${user}" method="POST">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Edit
                                user</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">

                            <div class="form-group">
                                <input th:type="hidden" class="form-control"
                                       id="id1"
                                       th:value="${user.getId()}"
                                       th:name="id">
                            </div>

                            <div class="form-group">
                                <label for="username1"
                                       class="col-form-label"><b>Name:</b></label>
                                <input type="text" class="form-control"
                                       id="username1"
                                       th:value="${user.name}"
                                       th:name="name">
                            </div>
                            <div class="form-group">
                                <label for="lastName1"
                                       class="col-form-label"><b>Surname:</b></label>
                                <input type="text" class="form-control"
                                       id="lastName1"
                                       th:value="${user.surname}"
                                       th:name="surname">
                            </div>
                            <div class="form-group">
                                <label for="age1"
                                       class="col-form-label"><b>Age:</b></label>
                                <input type="text" class="form-control" id="age1"
                                       th:value="${user.getAge()}"
                                       th:name="age">
                            </div>
                            <div class="form-group">
                                <label for="username"
                                       class="col-form-label"><b>Username:</b></label>
                                <input type="text" class="form-control" id="username"
                                       th:value="${user.username}"
                                       th:name="username">
                            </div>
                            <div class="form-group">
                                <label for="password1" class="col-form-label"><b>Password:</b></label>
                                <input type="text" class="form-control"
                                       id="password1"
                                       th:value="${user.getPassword()}"
                                       th:name="password">
                            </div>
                            <label for="roles1"><b>Role</b></label>
                            <select multiple class="form-control form-control-sm"
                                    id="roles1" th:field="*{roles}" size="2"
                                    required>
                                <option th:each="role:${roles}"
                                        th:value="${role.name}"
                                        th:selected="${user.roles.contains(role)}"
                                        class="m-2">
                                    <th:block th:text="${role.name}">
                                    </th:block>
                                </option>
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Edit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- DELETE USER-->

        <div class="modal fade" th:id="${'deleteModal'+ user.id}"
             th:data-user-id="${user.id}"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete
                            user</h5>
                        <button type="button" class="close"
                                data-dismiss="modal"></button>
                    </div>
                    <form th:action="@{/admin/userDelete/{id} (id=${user.id})}"
                          th:method="DELETE">
                        <div class="modal-body text-center">

                            <div class="form-group">
                                <label for="id2"
                                       class="col-form-label"><b>User
                                    ID:</b></label>
                                <input th:type="text" class="form-control" id="id2"
                                       th:value="${user.getId()}"
                                       th:name="id" disabled/>
                            </div>

                            <div class="form-group">
                                <label for="username2"
                                       class="col-form-label"><b>User
                                    Name:</b></label>
                                <input type="text" class="form-control"
                                       id="username2"
                                       th:value="${user.getName()}"
                                       th:name="username" disabled/>
                            </div>

                            <div class="form-group">
                                <label for="lastName2"
                                       class="col-form-label"><b>Surname:</b></label>
                                <input type="text" class="form-control"
                                       id="lastName2"
                                       th:value="${user.surname}"
                                       th:name="lastName" disabled/>
                            </div>

                            <div class="form-group">
                                <label for="age2"
                                       class="col-form-label"><b>Age:</b></label>
                                <input type="text" class="form-control" id="age2"
                                       th:value="${user.getAge()}"
                                       th:name="age" disabled/>
                            </div>

                            <div class="form-group">
                                <label for="username12"
                                       class="col-form-label"><b>Username:</b></label>
                                <input type="text" class="form-control" id="username12"
                                       th:value="${user.getUsername()}"
                                       th:name="username12" disabled/>
                            </div>

                            <div class="form-group">
                                <label for="password"
                                       class="col-form-label"><b>Password:</b></label>
                                <input type="text" class="form-control" id="password"
                                       th:value="${user.getPassword()}"
                                       th:name="password" disabled/>
                            </div>

                            <select multiple class="form-control form-control-sm"
                                    id="roles2" name="listRoles" size="2" required
                                    disabled>
                                <option th:each="role:${user.getRoles()}"
                                        th:value="${role}"
                                        th:text="${role}"
                                        class="m-2" disabled>
                                </option>
                            </select>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-danger">Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
               <!--             DELETE USER END-->
        </tr>
        </tbody>
    </table>

                                </div>
                            </div>
                        </div>

                                          <!-- ADD User  -->
                        <div class="tab-pane fade" id="addUser">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Add new User</h4>
                                    <div class="col-md bg-white border">

                                        <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4" th:align="center"
                                              th:action="@{/admin/saveUser}" th:object="${user}" method="POST">

                                            <label for="addfirstname" class="font-weight-bold text-center">Name</label>
                                            <input type="text" class="form-control" id="addfirstname"
                                                   th:field="*{name}"/>
                                            <br>
                                            <label for="addlastname" class="font-weight-bold text-center">Surname</label>
                                            <input type="text" class="form-control" id="addlastname"
                                                   th:field="*{surname}"/>
                                            <br>
                                            <label for="addage" class="font-weight-bold text-center">Age</label>
                                            <input type="number" class="form-control" id="addage" th:field="*{age}"/>
                                            <br>
                                            <label for="addusername" class="font-weight-bold text-center">Username</label>
                                            <input type="text" class="form-control" id="addusername" th:field="*{username}"/>
                                            <br>
                                            <label for="addpassword"
                                                   class="font-weight-bold text-center">Password</label>
                                            <input type="text" class="form-control" id="addpassword"
                                                   th:field="*{password}"/>
                                            <br>
                                            <label for="chooserole"><b>Role</b></label>
                                            <select multiple class="form-control form-control-sm" id="chooserole"
                                                    th:field="*{roles}" size="2" required>
                                                <option th:each="role:${roles}"
                                                        th:value="${role.id}"
                                                        th:text="${role.name}" class="m-2">
                                            </select>
                                            <br>
                                            <button th:type="submit" class="btn btn-success" value="Add new user">
                                                Add new user
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ADD User END -->
                    </div>
                </div>

                <!--                User info Window-->

                <div class="tab-pane fade pl-3" style="height: 900px;" id="user"
                     role="tabpanel" aria-labelledby="user">
                    <h1>User information-page</h1>
                    <br><br>
                    <div class="pl-3 pt-1 d-flex border-top border-left border-right"><h4> About user</h4></div>
                    <div class="bg-white border p-3">
                        <table class="table table-striped border-top">
                            <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${userData}">
                                <td th:text="${userData.id}">User ID</td>
                                <td th:text="${userData.name}">Name</td>
                                <td th:text="${userData.surname}">Surname</td>
                                <td th:text="${userData.age}">Age</td>
                                <td th:text="${userData.username}">Username</td>
                                <td th:text="${userData.password}">Password</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                User info END-->
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>


